In [1]:
import pandas as pd
from tqdm import tqdm
import zipfile
import numpy as np
import re

In [2]:
path_to_file = '../data/df_train_with_poi.zip'
zip_file = zipfile.ZipFile(path_to_file)

## Обработка этажей

In [3]:
def floor(data):

        data['floor'] = data['floor'].mask(data['floor'] == '-1.0', -1) \
          .mask(data['floor'] == '-2.0', -2) \
          .mask(data['floor'] == '-3.0', -3) \
          .mask(data['floor'] == 'подвал, 1', 1) \
          .mask(data['floor'] == 'подвал', -1) \
          .mask(data['floor'] == 'цоколь, 1', 1) \
          .mask(data['floor'] == '1,2,антресоль', 1) \
          .mask(data['floor'] == 'цоколь', 0) \
          .mask(data['floor'] == 'тех.этаж (6)', 6) \
          .mask(data['floor'] == 'Подвал', -1) \
          .mask(data['floor'] == 'Цоколь', 0) \
          .mask(data['floor'] == 'фактически на уровне 1 этажа', 1) \
          .mask(data['floor'] == '1,2,3', 1) \
          .mask(data['floor'] == '1, подвал', 1) \
          .mask(data['floor'] == '1,2,3,4', 1) \
          .mask(data['floor'] == '1,2', 1) \
          .mask(data['floor'] == '1,2,3,4,5', 1) \
          .mask(data['floor'] == '5, мансарда', 5) \
          .mask(data['floor'] == '1-й, подвал', 1) \
          .mask(data['floor'] == '1, подвал, антресоль', 1) \
          .mask(data['floor'] == 'мезонин', 2) \
          .mask(data['floor'] == 'подвал, 1-3', 1) \
          .mask(data['floor'] == '1 (Цокольный этаж)', 0) \
          .mask(data['floor'] == '3, Мансарда (4 эт)', 3) \
          .mask(data['floor'] == 'подвал,1', 1) \
          .mask(data['floor'] == '1, антресоль', 1) \
          .mask(data['floor'] == '1-3', 1) \
          .mask(data['floor'] == 'мансарда (4эт)', 4) \
          .mask(data['floor'] == '1, 2.', 1) \
          .mask(data['floor'] == 'подвал , 1 ', 1) \
          .mask(data['floor'] == '1, 2', 1) \
          .mask(data['floor'] == 'подвал, 1,2,3', 1) \
          .mask(data['floor'] == '1 + подвал (без отделки)', 1) \
          .mask(data['floor'] == 'мансарда', 3) \
          .mask(data['floor'] == '2,3', 2) \
          .mask(data['floor'] == '4, 5', 4) \
          .mask(data['floor'] == '1-й, 2-й', 1) \
          .mask(data['floor'] == '1 этаж, подвал', 1) \
          .mask(data['floor'] == '1, цоколь', 1) \
          .mask(data['floor'] == 'подвал, 1-7, техэтаж', 1) \
          .mask(data['floor'] == '3 (антресоль)', 3) \
          .mask(data['floor'] == '1, 2, 3', 1) \
          .mask(data['floor'] == 'Цоколь, 1,2(мансарда)', 1) \
          .mask(data['floor'] == 'подвал, 3. 4 этаж', 3) \
          .mask(data['floor'] == 'подвал, 1-4 этаж', 1) \
          .mask(data['floor'] == 'подва, 1.2 этаж', 1) \
          .mask(data['floor'] == '2, 3', 2) \
          .mask(data['floor'] == '7,8', 7) \
          .mask(data['floor'] == '1 этаж', 1) \
          .mask(data['floor'] == '1-й', 1) \
          .mask(data['floor'] == '3 этаж', 3) \
          .mask(data['floor'] == '4 этаж', 4) \
          .mask(data['floor'] == '5 этаж', 5) \
          .mask(data['floor'] == 'подвал,1,2,3,4,5', 1) \
          .mask(data['floor'] == 'подвал, цоколь, 1 этаж', 1) \
          .mask(data['floor'] == '3, мансарда', 3) \
          .mask(data['floor'] == 'цоколь, 1, 2,3,4,5,6', 1) \
          .mask(data['floor'] == ' 1, 2, Антресоль', 1) \
          .mask(data['floor'] == '3 этаж, мансарда (4 этаж)', 3) \
          .mask(data['floor'] == 'цокольный', 0) \
          .mask(data['floor'] == '1,2 ', 1) \
          .mask(data['floor'] == '3,4', 3) \
          .mask(data['floor'] == 'подвал, 1 и 4 этаж', 1) \
          .mask(data['floor'] == '5(мансарда)', 5) \
          .mask(data['floor'] == 'технический этаж,5,6', 5) \
          .mask(data['floor'] == ' 1-2, подвальный', 1) \
          .mask(data['floor'] == '1, 2, 3, мансардный', 1) \
          .mask(data['floor'] == 'подвал, 1, 2, 3', 1) \
          .mask(data['floor'] == '1,2,3, антресоль, технический этаж', 1) \
          .mask(data['floor'] == '3, 4', 3) \
          .mask(data['floor'] == '1-3 этажи, цоколь (188,4 кв.м), подвал (104 кв.м)', 1) \
          .mask(data['floor'] == '1,2,3,4, подвал', 1) \
          .mask(data['floor'] == '2-й', 2) \
          .mask(data['floor'] == '1, 2 этаж', 1) \
          .mask(data['floor'] == 'подвал, 1, 2', 1) \
          .mask(data['floor'] == '1-7', 1) \
          .mask(data['floor'] == '1 (по док-м цоколь)', 1) \
          .mask(data['floor'] == '1,2,подвал ', 1) \
          .mask(data['floor'] == 'подвал, 2', 2) \
          .mask(data['floor'] == 'подвал,1,2,3', 1) \
          .mask(data['floor'] == '1,2,3 этаж, подвал ', 1) \
          .mask(data['floor'] == '1,2,3 этаж, подвал', 1) \
          .mask(data['floor'] == '2, 3, 4, тех.этаж', 2) \
          .mask(data['floor'] == 'цокольный, 1,2', 1) \
          .mask(data['floor'] == 'Техническое подполье', -1) \
          .mask(data['floor'] == '1.2', 1)

        
def reg_float(floor_str):
    return float(re.search(r'\d+|-\d+', str(floor_str)).group(0))

### Обработка этажей вручную

In [4]:
data = pd.read_csv(zip_file.open(zip_file.namelist()[0]), low_memory=False)
data

,Unnamed: 0,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,...,poi_n_bus_stop_r0.002,poi_n_cafe_r0.002,poi_n_supermarket_r0.002,poi_n_atm_r0.002,poi_n_bank_r0.002,poi_n_clothes_r0.002,poi_n_fast_food_r0.002,poi_n_hairdresser_r0.002,poi_n_restaurant_r0.002,poi_n_tram_stop_r0.002
0,0,Пермь,NaN,COL_0,57.998207,56.292797,4,19,35,52,...,0,0,0,0,0,0,0,0,0,0
1,1,Шатура,NaN,COL_1,55.574284,39.543835,3,24,37,59,...,0,0,0,0,0,0,0,0,0,0
2,2,Ярославль,NaN,COL_2,57.619140,39.850525,1,30,67,128,...,0,0,0,0,0,0,0,0,0,0
3,3,Новокузнецк,NaN,COL_3,53.897083,87.108604,0,0,5,21,...,0,0,0,0,0,0,0,0,0,0
4,4,Москва,NaN,COL_4,55.802590,37.487110,1,23,64,153,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279787,279787,Томск,1.0,COL_280111,56.459183,84.979334,2,33,111,222,...,0,0,0,0,0,0,0,0,0,0
279788,279788,Санкт-Петербург,1.0,COL_280479,59.936954,30.356383,10,274,718,1340,...,0,0,0,0,0,0,0,0,0,0
279789,279789,Калининград,3.0,COL_280518,54.729233,20.514968,0,12,34,84,...,0,0,0,0,0,0,0,0,0,0
279790,279790,Кемерово,1.0,COL_280529,55.360680,86.081460,5,57,100,134,...,0,0,0,0,0,0,0,0,0,0
279791,279791,Киров,1.0,COL_280637,58.592915,49.677439,1,23,64,113,...,0,0,0,0,0,0,0,0,0,0

In [5]:
floor(data)

In [6]:
is_nan_list = data['floor'].isnull()

for i in tqdm(range(len(data))):
    if not is_nan_list[i]:
        try:
            data['floor'][i] = float(str(data['floor'][i]))
        except:
            try:
                data['floor'][i] = float(reg_float(data['floor'][i]))
            except:
                data['floor'][i] = float(0)

  0%|          | 0/279792 [00:00<?, ?it/s]<ipython-input-6-f64adc51504b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['floor'][i] = float(str(data['floor'][i]))
100%|██████████| 279792/279792 [02:05<00:00, 2222.88it/s]

In [7]:
data.to_csv("../data/test.zip", 
           index=False, 
           compression="zip")

In [8]:
data

,Unnamed: 0,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,...,poi_n_bus_stop_r0.002,poi_n_cafe_r0.002,poi_n_supermarket_r0.002,poi_n_atm_r0.002,poi_n_bank_r0.002,poi_n_clothes_r0.002,poi_n_fast_food_r0.002,poi_n_hairdresser_r0.002,poi_n_restaurant_r0.002,poi_n_tram_stop_r0.002
0,0,Пермь,NaN,COL_0,57.998207,56.292797,4,19,35,52,...,0,0,0,0,0,0,0,0,0,0
1,1,Шатура,NaN,COL_1,55.574284,39.543835,3,24,37,59,...,0,0,0,0,0,0,0,0,0,0
2,2,Ярославль,NaN,COL_2,57.619140,39.850525,1,30,67,128,...,0,0,0,0,0,0,0,0,0,0
3,3,Новокузнецк,NaN,COL_3,53.897083,87.108604,0,0,5,21,...,0,0,0,0,0,0,0,0,0,0
4,4,Москва,NaN,COL_4,55.802590,37.487110,1,23,64,153,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279787,279787,Томск,1.0,COL_280111,56.459183,84.979334,2,33,111,222,...,0,0,0,0,0,0,0,0,0,0
279788,279788,Санкт-Петербург,1.0,COL_280479,59.936954,30.356383,10,274,718,1340,...,0,0,0,0,0,0,0,0,0,0
279789,279789,Калининград,3.0,COL_280518,54.729233,20.514968,0,12,34,84,...,0,0,0,0,0,0,0,0,0,0
279790,279790,Кемерово,1.0,COL_280529,55.360680,86.081460,5,57,100,134,...,0,0,0,0,0,0,0,0,0,0
279791,279791,Киров,1.0,COL_280637,58.592915,49.677439,1,23,64,113,...,0,0,0,0,0,0,0,0,0,0

### Обработка этажей категориально

In [ ]:
data = pd.read_csv(zip_file.open(zip_file.namelist()[0]), low_memory=False)
floor(data)

is_nan_list = data['floor'].isnull()

for i in tqdm(range(len(data))):
    try:
        data['floor'][i] = float(str(data['floor'][i]))
    except:
        try:
            data['floor'][i] = float(reg_float(data['floor'][i]))
        except:
            data['floor'][i] = float(0)

In [ ]:
for i in tqdm(range(len(data))):
    if not is_nan_list[i]:
        if data['floor'][i] <= 0:
            data['floor'][i] = 'basement'
        elif data['floor'][i] == 1:
            data['floor'][i] = 'first'
        else:
            data['floor'][i] = 'multy_level'
    else:
        data['floor'][i] = 'unknown'

  0%|          | 0/279792 [00:00<?, ?it/s]<ipython-input-13-1b413e72bf40>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['floor'][i] = 'unknown'
 30%|███       | 84150/279792 [01:09<02:59, 1090.24it/s]

In [ ]:
data

In [ ]:
data.to_csv("../data/mult.zip", 
           index=False, 
           compression="zip")